<nav class="container">
  <ul>
    <li><a href="/front-endLanguages.html">Front-end Languages</a></li>
    <li><a href="/addingStuffToTheWebsite.html">
      Adding stuff to the website
    </a></li>
    <li><a href="/protocolsAndData-exchange.html">
      Protocols and Data-exchange
    </a></li>
    <li><a href="/infrastructure.html">Infrastructure</a></li>
    <li><a href="/assortedOthers.html">Assorted Others</a></li>
    <li><a href="/softwareTesting.html">Software Testing</a></li>
    <li><a href="/developerStuff.html">Developer Stuff</a></li>
  </ul>
</nav>

<main class="container">
