nav[role="doc-toc"] {
  /* This element scrolls normally until it gets to a specified point. Then it stays */
  position: sticky;
  top: 0; /* The specified point is the top of the page */

  background-color: var(--background-color);

  z-index: 1; /* Moves the element above other ones. This was due to the code snippets appearing on top */
}

nav ul {
  /* Give the items a constent lower edge */
  align-items: flex-end;
}

nav a {
  /* Subtle border as default */
  border-bottom: solid var(--muted-border-color) 5px;
}
nav a:hover {
  /* Higher contrast on the current item */
  border-block-color: var(--primary-hover);
}
